/* ESTILOS GERAIS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

button, a,
input, select {
    cursor: pointer;
}

.form-title, .step-content p, .title, .progressbar li {
    text-align: center; 
}

a {
    font-weight: 600;
    color: #0f5da6;
}

/*====== PRIMEIRA PAGINA ======*/

/* MENU */
.ct-navigation {
    display: flex;
    padding: 1.5rem 0;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.ct-header {
    width: 100%;
    display: flex;
    min-height: 56px;
    padding: 0 1.5rem;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}



/* BOTÃO MENU */
.close-btn {
    width: 48px;
    height: 48px;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    background-color: #00acac12;
}

/* BARRA DE PROGRESSO */
.stepper {
    width: 60%;
    position: relative;
    padding: 0 24px;
}

.header-close-btn {
    order: 2;
}

.progress {
    width: 100%;
    height: 2px;
    position: relative;
    margin-bottom: 10px;
    background-color: #e0e0e0;
}

.progress-bar {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: #00acac;
    transition: width 0.3s ease;
}

.progress-bar:after {
    width: 8px;
    height: 8px;
    content: "";
    float: right;
    margin-top: -3px;
    margin-right: -4px;
    border-radius: 4px;
    background-color: #00acac;
}

.steps {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    position: relative;
    justify-content: space-between;
}

.step {
    font-size: 14px;
    color: #7d7d7d;
  
}

.step-label {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    display: inline-block;
}

.step.active .step-label,
.step.active {
    color: #00acac;
    font-weight: bold;
}

/* FORMULARIO INICIAL */
.gp-main {
    margin-top: 70px;
}

 .account-options{
    display: flex; 
    padding: 2rem 1.5rem; 
    justify-content: center;
}

.section-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1100px;
    position: relative;
}

.ct-form {
    width: 100%;
    max-width: 565px;
    margin-left: 25%;
}

.subtitle-social { 
    text-align: start !important;
}

.title h1 {
    font-size: 24px;
    margin: 0 0 1rem;
}

.title p {
    font-size: 16px;
    margin: 0.5rem 0 2.5rem;
}

.form-input {
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #c9cbce;
}

.form-input:hover{
    border: 2px solid #00acac;
}

.form-input:focus{
    outline: none;
    border: 3px solid #00acac;
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
}

/*BOTÃO DE ENVIO FORMULARIO INICIAL*/
.btn-form {
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
    margin-top: 24px;
    border-radius: 4px;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(#00acac 0, #00acac 100%);
}

.btn-form:hover {
    background: linear-gradient(#00a1a1 0, #00a1a1 100%);
}

/*VALIDAÇÃO EMAIL*/
.error-circle {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #a8200d;
}

.icon-error {
    color: white;
    justify-content: center;
}

.login-error-message {
    display: flex; /*ALTERAR*/
    margin-top: 4px;
    color: #a8200d;
}
.error-circle {
    display: none; 
}
.login-error-message p {
    margin: 0;
    font-size: 14px;
}

/*====== SEGUNDA PAGINA ======*/

/*back button*/
.back-button {
    left: 64px;
    top: 25px;
    height: 30px;
    border: none;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    margin-top: 16px;
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: .3em;
}
 
.back-button:focus {
    border-radius: 20px;
    background-color: #16330021;
}

/*account-option*/
.account-options{
    gap: 24px
}

.account-option {
    border: none;
    width: 100%;
    padding: 24px;
    max-width: 300px;
    border-radius: 10px;
    background-color: #16330014; 
}

.account-option:hover {
    background-color: #16330021;
}

.option-title {
    margin: 16px 0 8px 0;
    font-size: 1.375rem;
}

.option-description {
    margin-top: 8px;
    color: #454745;
    line-height: 155%;
    font-size: .875rem;
}

.account-option-media img {
    width: 102px;
    height: auto;
    padding: 24px;
    vertical-align: middle;
}

.termos {
    width: 100%;
    padding: 0;
    border-top: none;
    text-align: center;
    margin: 20px auto 0;
}

p {
    line-height: 155%;
    color: rgb(69, 71, 69);
}

/* ACCOUNT SELECTION */
#account-selection-section {
    display: none; /*ALTERAR*/
    justify-content: center; 
}

.step-content {
    padding: 0 32px 0 32px;
    margin: 0 auto 0 auto;
}

.step-content-mobile {
    display: none;
}

/*RESPONSIVIDADE SEGUNDA PAGINA*/
@media (max-width:990px) {
    .back-button-text {
        display: none;
    }
    .header-close-btn {
        order: 1;
    }
    .stepper {
        order: 2;
    }
    .ct-header {
        flex-wrap: wrap;
    }
    .ct-form {
        margin-left: 16%;
    }
    .stepper {
        width: 100%;
    }
}
.steps.mobile .step {
    display: none;
}

@media (max-width:575px) {
    .step-content, .steps .step{
        display: none;
    }

    .termos {
       width: 100%;
    }
    .ct-form {
        margin-left: 0;
    }
    .back-button {
        position: absolute;
        width: 0;
    }
    .section-wrapper{
        position: static;
    }
    .step.active{
        display: flex;
        opacity: 1;
    }
    .steps.mobile  {
        display: none;
    }
    .steps.mobile .step.active {
        display: flex;
    }
}

.steps.mobile  {
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.option {
    border: none;
    padding: 16px;
    background: none;
}

.icon {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.icon span {
    width: 48px;
    height: 48px;
    display: flex;
    line-height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #16330014;
}

.icon-text {
    display: flex;
    text-align: start;
}

.arrow {
    display: flex;
    padding-left: 16px;
    align-items: center;
    justify-content: center; 
    transform: rotate(90deg);
}

.text p, .text h4 {
    margin: 0;
}

.text p {
    margin-bottom: 4px;
}

/*Input Phone*/
.inputPhone {
    display: flex;
}

.button-input {
    text-align: start;
    border-radius: 10px; 
    align-content: center;
}

.states-number{
    font-size: 14px;
    color: #5d7079;
}

.slide {
    display: none; /*ALTERAR*/
}

.slide.active {
    display:flex;
}

